<dl class="dl-horizontal">

    <div class="alert alert-success">
        <strong>
            <dt>
                Header
            </dt>
        </strong>
        <dd>
            {{question.Header}}
        </dd>
    </div>

    <div class="alert alert-success">
        <strong>
            <dt>
                Difficulty
            </dt>
        </strong>
        <dd>
            {{question.Difficulty}}
        </dd>
    </div>
    <div class="alert alert-success">
        <strong>
            <dt>
                Objective
            </dt>
        </strong>

        <dd>
            {{question.Objective}}
        </dd>
    </div>
    <div class="alert alert-success">
        <strong>
            <dt>
                Answer 1
            </dt>
        </strong>

        <dd>
            {{question.Ans1}}
        </dd>
    </div>
    <div class="alert alert-success">
        <strong>
            <dt>
                Answer 2
            </dt>
        </strong>

        <dd>
            {{question.Ans2}}
        </dd>
    </div>
    <div class="alert alert-success">
        <strong>
            <dt>
                Answer 3
            </dt>
        </strong>
        <dd>
            {{question.Ans3}}
        </dd>
    </div>
    <div class="alert alert-success">
        <strong>
            <dt>

                Correct Answer
            </dt>
        </strong>
        <dd>
            {{cra}}
        </dd>
    </div>
    <div class="alert alert-success">
        <strong>
            <dt>
                Chapter
            </dt>
        </strong>

        <dd>
            {{question.Chapter.Name}}
        </dd>
    </div>
    <div class="alert alert-success">
        <strong>
            <dt>
                Course
            </dt>
        </strong>

        <dd>
            {{crn}}
        </dd>
    </div>
</dl>