<!-- <h1>{{title}}</h1> -->
<table id="tbb" class="table table-bordered table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>Header</th>
            <th>Difficulty</th>
            <th>Objective</th>
            <th>Chapter</th>

            <th style="width: 30%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for qs in questions %}
        <tr>
            <td>{{ qs.Header }}</td>

            <td>{{ qs.Difficulty }}</td>
            <td>{{ qs.Objective }}</td>
            <td>{{ qs.Chapter.Name }}</td>


            <td>
                <center>
                    <a class="btn btn-sm btn-info" onclick="getquestions('{{qs.id}}')">
                        <span class="glyphicon glyphicon-list-alt"></span> Details</a>
                    <a class="btn btn-sm btn-primary" onclick="addtoexam('{{qs.id}}','{{exam.id}}',this)">
                        <span class="glyphicon glyphicon-plus"></span> Add To Exam</a>
                </center>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal" id="modalone" tabindex="-1">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <p>Question Information </p>
            </div>
            <div class="modal-body text-center">
                <div id="divdatamodal">

                </div>
                <div class="input-group text-center col-sm-offset-4 col-sm-4">
                    <button id="btn" data-dismiss="modal" class="bb btn btn-primary">Go Back</button>
                </div>
            </div>
            <div class="modal-footer">
                <p class="text-center">
                    ITI
                    <span class="bb close" data-dismiss="modal">&times;</span>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#tbb').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "pagingType": "full_numbers",
            "pageLength": 7

        });
    });
</script>
<script>
    function addtoexam(id, eid, e) {
        // alert(q+":"+e);
        $.ajax({
            url: '/exams/addtoexam/' + id + '/' + eid,

            ContentType: 'json',
            success: function (data) {

                hide(e);

            }
        });
    }

    function hide(e) {
        global = e;
        $(e.parentElement.parentElement.parentElement).hide(1000);

        setTimeout(function () {
            e.parentElement.parentElement.remove();
        }, 1200);
    };
    function getquestions(id) {
        $.ajax({
            type: "Get",
            url: "/questions/getquestionsData/" + id,
            success: function (data) {
                $('#divdatamodal').html(data);
                mod();
            }
        });
    }
    $(function () {
        $(".bb").on("click",
            function () {
                $("#modalone").toggle(1000);
            });
    });

    function mod() {
        $("#modalone").toggle(1000).modal();
    }

</script>